header {
    text-align: center;
}

.nav_bar {
    display: flex;
    gap: 1rem;
    padding: 10px;
    background-color: #FCC8D1;
}

li a {
    color: black;
}

li {
    list-style: none;
}

footer {
    text-align: center;
}

h1 {
    background-color: #D14D72;
    font-size: 40px;
}


body {
    background-color: #FEF2F4;
}

h3 {
    background-color: #FFABAB;
}

* {
    font-family: 'Pridi', serif;
}